/* PAllete 
#264653   - Charcoal
#2A9D8F   - Persian Green
#E9C46A   - Orange Yellow Crayola
#F4A261   - Sandy Brown
#E76F51   - Burnt Sienna
#005f73    - Rich Black FOGRA 29
*/

/* Global styles 
--------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: #365434;
  font-family: "Actor", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

img {
  width: 400px;
}
a:link {
  color: darkolivegreen;
}

a:visited {
  color: darkorchid;
}

a:hover {
  color: darkseagreen;
}
a:focus {
  outline: 1px solid darkslategray;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;
}
h1 {
  font-size: 5rem;
  line-height: 1;
}
h2 {
  font-size: 3rem;
}
h1,
h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  margin: 0%;
}

.item-details h3 + p {
  font-style: italic;
}

.item-details h3 ~ p {
  margin: 0;
}

.divider > section {
  border-bottom: 2px dashed darkgray;
  padding: 20px 0;
}

.divider > section:last-of-type {
  border-bottom: none;
}

/* Profile
--------------------------*/

header {
  background: darkcyan;
}

/* Projects 
--------------------------*/

.projects .btn {
  color: white;
  text-decoration: none;
  background: darkolivegreen;
  border: 1px solid black;
  box-shadow: 5px 5px;
  padding: 0.5rem;
  border-radius: 2px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(85, 107, 47, 0.7);
}

.project-item {
  overflow: hidden;
}

.project-item h3 {
  margin-top: 0;
}
/* Work Experience 
--------------------------*/
.work-experience {
  background: #2a9d8f;
}

/* Education
--------------------------*/

.education {
  background-image: url(./img/joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}

.education p {
  width: 60%;
}

/* Contact Info
--------------------------*/
footer {
  background: darkgray;
}

.contact-list {
  list-style-type: none;

  padding: 0;
}
.contact-list a {
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

/* Responsive
--------------------------*/

@media screen and (min-width: 750px) {
  header,
  footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .contact-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 749px) {
  h1 {
    font-size: 3rem;
    line-height: 0.9;
    margin-bottom: 1.2rem;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1;
  }

  .contact-list a{
    padding: 5px;
  }
}
